.authentication-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;

    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.authentication-menu__button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

.authentication-menu__button_type_login {
    padding: 5px 20px;
    background-color: #3456f3;
    border-radius: 3px;
    color: white;
}

@media screen and (max-width: 450px) {
    .authentication-menu {
        gap: 14px;
    }
}
