.profile__input-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 13px;
    border-bottom: 1px solid #e8e8e8;
    width: 410px;
}

.profile__input-label {
    min-width: max-content;
    z-index: 10;
    color: #000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile__input {
    position: relative;
    width: 100%;
    font-family: 'Inter', 'Arial', sans-serif;
    color: #000;
    text-align: right;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    text-align: right;
    background-color: #fff;
}

.profile__input::placeholder {
    color: #000;
    text-align: right;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile__input-container_borderless {
    margin-top: 16px;
    margin-bottom: 0;
    border-bottom: none;
}

.profile__input_is_not-valid {
    color: #ee3465;
    font-family: 'Inter', 'Arial', sans-serif;
}

.profile__input-error {
    color: #ee3465;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 6px 0 3px;
    height: 12px;
}

.profile__error:last-of-type {
    margin-bottom: 65px;
}

.profile__input:focus {
    outline: 1px solid #3456f3;
}

@media screen and (max-width: 900px) {
    .profile__input-container_borderless {
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 450px) {
    .profile__error:last-of-type {
        margin-bottom: 157px;
    }

    .profile__input-container {
        width: 260px;
    }

    .profile__input-container_borderless {
        margin-top: 17px;
    }

    .profile__input {
        color: #000;
        text-align: right;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
