.form {
    display: flex;
    flex-direction: column;
    width: 396px;
}

.form__submit-button {
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    background: #3456f3;
    padding-top: 13px;
    padding-bottom: 15px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form__submit-button_type_login {
    margin-top: 138px;
    margin-bottom: 16px;
}

.form__submit-button_type_signup {
    margin-bottom: 16px;
}

.form__submit-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.form__submit-button_type_profile {
    display: none;
}

.form__submit-button_type_profile-shown {
    display: block;
}

.form__submit-button:disabled {
    background-color: #f8f8f8;
    color: #c2c2c2;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form__submit-button:disabled:hover {
    cursor: auto;
    opacity: 1;
}

.form__error-message {
    margin: 69px 0 0 0;
    height: 14px;
    color: #ff004c;
    text-align: center;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form__error-message_success {
    text-align: left;
    color: #3456f3;
}

.form__error-message_failure {
    text-align: left;
    color: #ff004c;
}

.form__error-message_auth-page {
    text-align: left;
    margin-top: 0;
    margin-bottom: 69px;
}

.form__submit-button_type_profile-disabled:hover {
    opacity: 1;
    cursor: default;
}

@media screen and (max-width: 450px) {
    .form {
        width: 260px;
    }

    .form__submit-button_type_signup {
        margin-bottom: 0;
    }

    .form__submit-button_type_login {
        margin-bottom: 0;
    }

    .form__submit-button {
        color: #fff;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}
