.moviecardlist {
    padding: 70px 70px 0;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.moviecardlist__cards {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-sizing: border-box;
}

.moviecardlist__more-films {
    margin-top: 68px;
    width: 320px;
    height: 36px;
    border: none;
    border-radius: 6px;
    background: #f4f4f4;
}

.moviecardlist__more-films_type_hidden {
    display: none;
}

.moviecardlist__more-films:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: #f8f8f8;
}

@media screen and (max-width: 1279px) {
    .moviecardlist__cards {
        max-width: 850px;
    }
}

@media screen and (max-width: 989px) {
    .moviecardlist__cards {
        max-width: 560px;
    }
}

@media screen and (max-width: 900px) {
    .moviecardlist {
        padding-left: 30px;
        padding-right: 30px;
    }

    .moviecardlist__cards {
        max-width: 708px;
        gap: 30px;
    }
}

@media screen and (max-width: 767px) {
    .moviecardlist__cards {
        max-width: min-content;
    }
}

@media screen and (max-width: 650px) {
    .moviecardlist {
        padding-left: 10px;
        padding-right: 10px;
    }

    .moviecardlist__cards {
        gap: 18px;
    }

    .moviecardlist__more-films {
        margin-top: 78px;
    }
}

@media screen and (max-width: 450px) {
    .moviecardlist {
        padding-top: 40px;
    }
}
