.moviecardlist__card {
    width: 270px;
    background-color: #ffffff;
    filter: drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.05));
    border-radius: 10px;
    margin-bottom: 12px;
}

.moviecardlist__card-cover {
    width: 100%;
    height: 151px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.moviecardlist__card-container {
    display: flex;
    justify-content: space-between;
    padding: 14px 12px 10px;
}

.moviecardlist__card-title {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.moviecardlist__card-duration {
    margin: 0 0 0 14px;
    padding-bottom: 14px;
    color: #a0a0a0;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.moviecardlist__card-save-button {
    box-sizing: border-box;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
    background-image: url('../../images/save8d.svg');
    background-position: center 25%;
}

.moviecardlist__card-save-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.moviecardlist__card-save-button_type_saved {
    background-image: url('../../images/hassaved.svg');
}

.moviecardlist__card-save-button_type_remove-from-saved {
    background-image: url('../../images/removefromsaved.svg');
    background-position: center;
    background-repeat: none;
    background-size: contain;
}

@media screen and (max-width: 900px) {
    .moviecardlist__card {
        width: 339px;
        margin-bottom: 6px;
    }
}

@media screen and (max-width: 650px) {
    .moviecardlist__card {
        width: 300px;
        margin-bottom: 6px;
    }
}
