.navigation {
    margin: 0 0 0 44px;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

@media screen and (max-width: 900px) {
    .navigation {
        display: none;
    }

    .navigation_promo {
        display: flex;
    }
}
