.burgermenubutton {
    display: none;
    padding: 0;
    width: 44px;
    height: 44px;
    background-color: transparent;
    background-image: url('../../images/burgermenubutton.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    margin: 0;
    transition: opacity 0.5s linear;
}

.burgermenubutton:hover {
    opacity: 0.8;
}

.burgermenubutton_is_hidden {
    display: none;
}

@media screen and (max-width: 900px) {
    .burgermenubutton {
        display: block;
    }
}

@media screen and (max-width: 544px) {
    .burgermenubutton {
        width: 40px;
        height: 43px;
    }
}
