.header {
    padding: 21px 70px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.header__unauthorized {
    background-color: #dddee3;
}

.header__authorized {
    background-color: #fafafa;
}

.header__authorized_type_profile {
    background-color: #fff;
}

@media screen and (max-width: 800px) {
    .header {
        padding: 18px 30px;
    }
}

@media screen and (max-width: 450px) {
    .header {
        padding-left: 14px;
        padding-right: 14px;
    }
}
