.about-project {
    margin: 0;
    padding: 0 70px;
    background-color: #FAFAFA;


}

.about-project__title {
    margin: 0;
    padding: 110px 0 23px;
    border-bottom: 1px solid black;

    color: #000;
    font-family: Inter; 
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
}

.about-project__content {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.about-project__content-title {
    margin: 70px 0 26px;
    padding: 0;
    max-width: 550px;

    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
}

.about-project__content-description {
    margin: 0;
    padding: 0;
    max-width: 550px;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}