.section-title {
    margin: 0;
    padding: 110px 0 23px;
    border-bottom: 1px solid black;
    font-family: 'Inter', 'Arial', sans-serif;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
}

.section-title_type_big-margin {
    margin-top: 10px;
}

@media screen and (max-width: 800px) {
    .section-title {
        padding-top: 90px;
    }

    .section-title_type_big-margin {
        margin-top: 0;
    }
}

@media screen and (max-width: 450px) {
    .section-title {
        padding-top: 70px;
        padding-bottom: 28px;

        font-size: 18px;
        letter-spacing: -0.72px;
    }
}
